<% layout('layouts/boilerplate.ejs') %>

<% if (allListings.length === 0) { %>
    <p class="empty-cart">No Products found.</p>
<% } else { %>
<h1>Products</h1>
<div class="row row-cols-lg-4 row-cols-md-2 row-cols-sm-1">
      <% for (let listing of allListings) { %>
    <div class="card">
        <img class="card-img-top" src="<%= listing.image %>" style="height: 10rem;" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title"><%= listing.title %></h5>
            <p class="card-text">
                <b><i class="fa-solid fa-indian-rupee-sign"></i><%= listing.price.toLocaleString("en-IN") %></b>
            </p>
            <div class="button-layout">
                <div class="index-view-button">
            <a href="/listings/<%= listing._id %>" class="btn btn-outline-primary">View</a>
        </div>
            <div class="index-cart-addbutton">
            <form action="/cart/add" method="POST" class="mt-2 add-to-cart-form">
                <input type="hidden" name="productId" value="<%= listing._id %>">
                <button type="submit" class="btn btn-outline-success add-to-cart-button">Add to Cart</button>
            </form>
        </div>
        </div>
        </div>
    </div>
    <% } %>
</div>
<% } %>

<script src="/js/jsforaddtocart.js"></script>
